In [11]:
import pandas as pd

data = {'age': [1,2,3,1,2,5,6,7,8,6,9],
       'char': ['A','B','C','A','B','E','F','G','H','F','I']}

df = pd.DataFrame(data)
#df = df.drop_duplicates()
print(df)

    age char
0     1    A
1     2    B
2     3    C
3     1    A
4     2    B
5     5    E
6     6    F
7     7    G
8     8    H
9     6    F
10    9    I

In [13]:
import pandas as pd

data = {'age': [1,2,3,1,2,5,6,7,8,6,9],
       'char': ['A','B','C','A','B','E','F','G','H','F','I']}

df = pd.DataFrame(data)
df = df.drop_duplicates() # remove duplicates as a row
print(df)

    age char
0     1    A
1     2    B
2     3    C
5     5    E
6     6    F
7     7    G
8     8    H
10    9    I

In [14]:
import pandas as pd

In [30]:
df = pd.read_csv('F:\AIDTM\Stock market data.csv')

In [49]:
df.head()

,Time,Ser/Exp/Group,Symbol/ScripID,Strike,Option Type,B/S,Qty,Price,Date
0,15:27:51 Hrs,28-Sep-23,RELIANCE,2640.0,CE,SELL,250,6.8,01-09-23
1,15:27:43 Hrs,26-Oct-23,RELIANCE,2700.0,CE,BUY,250,12.8,01-09-23
2,15:19:15 Hrs,28-Sep-23,RELIANCE,2240.0,PE,SELL,250,7.7,01-09-23
3,15:19:13 Hrs,26-Oct-23,RELIANCE,2200.0,PE,BUY,250,11.2,01-09-23
4,15:18:49 Hrs,28-Sep-23,RELIANCE,2240.0,PE,SELL,250,7.7,01-09-23

In [48]:
df.tail()

,Time,Ser/Exp/Group,Symbol/ScripID,Strike,Option Type,B/S,Qty,Price,Date
3050,09:24:54 Hrs,31-Aug-23,RELIANCE,2600.0,CE,BUY,250,0.30,30-08-23
3051,09:24:51 Hrs,31-Aug-23,RELIANCE,2600.0,CE,BUY,750,0.30,30-08-23
3052,09:24:51 Hrs,31-Aug-23,RELIANCE,2600.0,CE,BUY,1500,0.30,30-08-23
3053,09:38:10 Hrs,31-Aug-23,TATASTEEL,136.0,CE,BUY,5500,0.05,30-08-23
3054,09:38:06 Hrs,28-Sep-23,TATASTEEL,135.0,CE,SELL,5500,0.65,30-08-23

In [36]:
missing = df.isnull().sum

In [37]:
print(missing)

<bound method NDFrame._add_numeric_operations.<locals>.sum of        Time  Ser/Exp/Group  Symbol/ScripID  Strike  Option Type    B/S    Qty  \
0     False          False           False   False        False  False  False
1     False          False           False   False        False  False  False
2     False          False           False   False        False  False  False
3     False          False           False   False        False  False  False
4     False          False           False   False        False  False  False
...     ...            ...             ...     ...          ...    ...    ...
3050  False          False           False   False        False  False  False
3051  False          False           False   False        False  False  False
3052  False          False           False   False        False  False  False
3053  False          False           False   False        False  False  False
3054  False          False           False   False        False  False  False

      Price   Date
0     False  False
1     False  False
2     False  False
3     False  False
4     False  False
...     ...    ...
3050  False  False
3051  False  False
3052  False  False
3053  False  False
3054  False  False

[3055 rows x 9 columns]>

In [42]:
df["Strike"].isnull().sum()

14

In [6]:
import pandas as pd

# Load the dataset
df = pd.read_csv('F:\AIDTM\Stock market data.csv')

# compute the mean of the non-missing values in the "Strike" column
mean_Strike = df["Strike"].mean()

# fill missing values in the "Strike" column with the mean
df["Strike"].fillna(mean_Strike, inplace=True)

In [4]:
mean_Strike = df["Strike"].mean()
print(mean_Strike)

13273.41252877343

In [15]:
median_Strike = df["Strike"].median()
print(median_Strike)

19200.0

In [16]:
mode_Strike = df["Strike"].mode()
print(mode_Strike)

0    20150.0
1    21500.0
Name: Strike, dtype: float64

In [17]:
df["Option Type"].isnull().sum()

14

In [23]:
df[:25].tail(15)

,Time,Ser/Exp/Group,Symbol/ScripID,Strike,Option Type,B/S,Qty,Price,Date
10,11:21:14 Hrs,28-Sep-23,KOTAKBANK,1700.000000,PE,SELL,400,8.75,01-09-23
11,11:21:08 Hrs,28-Sep-23,KOTAKBANK,1600.000000,PE,BUY,400,2.30,01-09-23
12,11:20:41 Hrs,28-Sep-23,KOTAKBANK,1600.000000,PE,BUY,800,2.30,01-09-23
13,11:19:06 Hrs,28-Sep-23,KOTAKBANK,1600.000000,PE,BUY,800,2.30,01-09-23
14,11:19:06 Hrs,28-Sep-23,KOTAKBANK,1600.000000,PE,BUY,400,2.30,01-09-23
15,11:19:03 Hrs,28-Sep-23,KOTAKBANK,1700.000000,PE,SELL,400,8.90,01-09-23
16,11:18:44 Hrs,28-Sep-23,KOTAKBANK,1800.000000,CE,BUY,800,22.70,01-09-23
17,11:18:40 Hrs,28-Sep-23,KOTAKBANK,13273.412529,NaN,SELL,400,1777.50,01-09-23
18,09:31:37 Hrs,28-Sep-23,KOTAKBANK,1800.000000,CE,SELL,800,22.50,01-09-23
19,09:31:32 Hrs,28-Sep-23,KOTAKBANK,13273.412529,NaN,BUY,400,1773.15,01-09-23
20,09:17:05 Hrs,28-Sep-23,KOTAKBANK,1600.000000,PE,BUY,400,3.50,01-09-23
21,09:16:09 Hrs,28-Sep-23,KOTAKBANK,1700.000000,PE,BUY,400,12.05,01-09-23
22,09:16:04 Hrs,28-Sep-23,KOTAKBANK,1700.000000,PE,BUY,400,12.35,01-09-23
23,09:15:05 Hrs,28-Sep-23,KOTAKBANK,1600.000000,PE,SELL,400,3.95,01-09-23
24,09:15:05 Hrs,28-Sep-23,KOTAKBANK,1600.000000,PE,SELL,400,3.95,01-09-23

In [28]:
# forward fill
ffill_imp = df.fillna(method='ffill')
print(ffill_imp)

              Time Ser/Exp/Group Symbol/ScripID  Strike Option Type   B/S  \
0     15:27:51 Hrs     28-Sep-23       RELIANCE  2640.0          CE  SELL
1     15:27:43 Hrs     26-Oct-23       RELIANCE  2700.0          CE   BUY
2     15:19:15 Hrs     28-Sep-23       RELIANCE  2240.0          PE  SELL
3     15:19:13 Hrs     26-Oct-23       RELIANCE  2200.0          PE   BUY
4     15:18:49 Hrs     28-Sep-23       RELIANCE  2240.0          PE  SELL
...            ...           ...            ...     ...         ...   ...
3050  09:24:54 Hrs     31-Aug-23       RELIANCE  2600.0          CE   BUY
3051  09:24:51 Hrs     31-Aug-23       RELIANCE  2600.0          CE   BUY
3052  09:24:51 Hrs     31-Aug-23       RELIANCE  2600.0          CE   BUY
3053  09:38:10 Hrs     31-Aug-23      TATASTEEL   136.0          CE   BUY
3054  09:38:06 Hrs     28-Sep-23      TATASTEEL   135.0          CE  SELL

       Qty  Price      Date
0      250   6.80  01-09-23
1      250  12.80  01-09-23
2      250   7.70  01-09-23
3      250  11.20  01-09-23
4      250   7.70  01-09-23
...    ...    ...       ...
3050   250   0.30  30-08-23
3051   750   0.30  30-08-23
3052  1500   0.30  30-08-23
3053  5500   0.05  30-08-23
3054  5500   0.65  30-08-23

[3055 rows x 9 columns]

In [40]:
# backword fill imputation (fill in the blank : khali jagah bharna)
df = pd.read_csv('F:\AIDTM\Stock market data.csv')
df.head(20)
bfill = df["Strike"].fillna(method='bfill')
# bfill_imp = df.fillna(method='bfill')
bfill.head(20)

# bfill_imp.head(10)
# plot imputation data

0     2640.0
1     2700.0
2     2240.0
3     2200.0
4     2240.0
5     2200.0
6     2240.0
7     2200.0
8     2200.0
9     2240.0
10    1700.0
11    1600.0
12    1600.0
13    1600.0
14    1600.0
15    1700.0
16    1800.0
17    1800.0
18    1800.0
19    1600.0
Name: Strike, dtype: float64

In [44]:
#forward fill in particular column
ffill = df["Strike"].fillna(method='ffill')
ffill.head(20)

0     2640.0
1     2700.0
2     2240.0
3     2200.0
4     2240.0
5     2200.0
6     2240.0
7     2200.0
8     2200.0
9     2240.0
10    1700.0
11    1600.0
12    1600.0
13    1600.0
14    1600.0
15    1700.0
16    1800.0
17    1800.0
18    1800.0
19    1800.0
Name: Strike, dtype: float64