In [1]:
print("Hello, World!")

Hello, World!

In [2]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [6]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [7]:
x = 5
y = "Hello, World!"

print(x)
print(y)

5
Hello, World!

In [8]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [9]:
print("Hello, World!") #This is a comment

Hello, World!

In [10]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [11]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [12]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [13]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [14]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [16]:
x = str(3)
y = int(3)
z = float(3)

print(x)
print(y)
print(z)

3
3
3.0

In [17]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [19]:
x = "John"
print(x)
#double quotes are the same as single quotes:
x = 'John'
print(x)

John
John

In [21]:
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

In [22]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [23]:
x, y, z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [24]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [25]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [26]:
x = "Python is awesome"
print(x)

Python is awesome

In [27]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [28]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [29]:
x = 5
y = 10
print(x + y)

15

In [30]:
x = 5
y = "John"
print(x, y)

5 John

In [31]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [32]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [33]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [35]:
x = 5
print(type(x))

<class 'int'>

In [36]:
x = "Hello World"

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [37]:
x = 20

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

In [38]:
x = 20.5

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [39]:
x = 1j

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [40]:
x = ["apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [41]:
x = ("apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [42]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [43]:
x = {"name" : "John", "age" : 36}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [44]:
x = {"apple", "banana", "cherry"}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'banana', 'cherry', 'apple'}
<class 'set'>

In [45]:
x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>

In [46]:
x = True

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [47]:
x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x))

b'Hello'
<class 'bytes'>

In [48]:
x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x))

b'Hello'
<class 'bytes'>

In [49]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [50]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x0000026FF4624040>
<class 'memoryview'>

In [51]:
x = None

#display x:
print(x)

#display the data type of x:
print(type(x))

None
<class 'NoneType'>

In [52]:
x = str("Hello World")

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [53]:
x = int(20)

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

In [54]:
x = float(20.5)

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [55]:
x = complex(1j)

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [56]:
x = complex(1j)

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [57]:
x = list(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [58]:
x = tuple(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [59]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [60]:
x = dict(name="John", age=36)

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [61]:
x = set(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

{'banana', 'cherry', 'apple'}
<class 'set'>

In [63]:
x = frozenset(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>

In [64]:
x = bool(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [65]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [66]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x0000026FF4624040>
<class 'memoryview'>

In [69]:
x = "Hello World"

#display x:
print(x)

#display the data type of x:
print(type(x)) 

x = 20

#display x:
print(x)

#display the data type of x:
print(type(x)) 

x = 20.5

#display x:
print(x)

#display the data type of x:
print(type(x)) 

print(type(x)) 

x = ["apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x)) 

x = ("apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x)) 

x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x)) 

x = {"name" : "John", "age" : 36}

#display x:
print(x)

#display the data type of x:
print(type(x)) 

x = {"apple", "banana", "cherry"}

#display x:
print(x)

#display the data type of x:
print(type(x)) 

x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

x = True

#display x:
print(x)

#display the data type of x:
print(type(x)) 

x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x)) 

x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x)) 

x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x)) 

x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x)) 

x = None

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>
20
<class 'int'>
20.5
<class 'float'>
<class 'float'>
['apple', 'banana', 'cherry']
<class 'list'>
('apple', 'banana', 'cherry')
<class 'tuple'>
range(0, 6)
<class 'range'>
{'name': 'John', 'age': 36}
<class 'dict'>
{'banana', 'cherry', 'apple'}
<class 'set'>
frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>
True
<class 'bool'>
b'Hello'
<class 'bytes'>
b'Hello'
<class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>
<memory at 0x0000026FF4624040>
<class 'memoryview'>
None
<class 'NoneType'>

In [2]:
even_numbers = []
for number in range(6, 51, 2):
    even_numbers.append(number)

print(even_numbers)

[6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [6]:
even_numbers = []
for number in range(6, 51, 2):
    even_numbers.append(number)

print(even_numbers)

[6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [9]:
def find_largest_number(numbers):
    if not numbers:
        return None  
    largest = numbers[0]  
    for number in numbers:
        if number > largest:
            largest = number
    return largest

user_input = input("Enter a list of numbers separated by spaces: ")
user_numbers = [int(num) for num in user_input.split()]

largest_number = find_largest_number(user_numbers)
if largest_number is not None:
    print(f"The largest number in the list is: {largest_number}")
else:
    print("The list is empty.")

Enter a list of numbers separated by spaces: 25 26
The largest number in the list is: 26

In [3]:
name = input("what is your name?")
print ("hello" + name)

what is your name?Dipanshu Kumar
helloDipanshu Kumar

In [11]:
old_age = input("Enter your old age: ")  
new_age = int(old_age) + 2  
print(new_age)

Enter your old age: 14
16

In [28]:
old_age = input("Enter your old age: ")  
old_age = int(old_age)  
new_age = old_age + 4  
print(old_age)

Enter your old age: 25
25

In [15]:
rows = int(input("Enter number of rows: "))

for i in range(rows):
    for j in range(i+1):
        print(j+1, end=" ")
    print("\n")

Enter number of rows: 5
1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [25]:
def sum_of_even_numbers(input_list):
    even_sum = 0
    for number in input_list:
        if number % 2 == 0:
            even_sum += number 
    return even_sum

my_list = [1, 2, 3, 4, 5, 6, 7, 8]
result = sum_of_even_numbers(my_list)
print("Sum of even numbers:", result)

Sum of even numbers: 20

In [31]:
first = input ("Enter first numbers:" )
secound = input ("Enter secound numbers:")
sum = int(first) + int(secound)
print(sum)

Enter first numbers:5
Enter secound numbers:3
8

In [36]:
name = "Dipanshu singh"
print(name.lower())

dipanshu singh

In [43]:
Name = "Dipanshu Singh"
print(Name.replace("F", "D"))
print(Name)

Dipanshu Singh
Dipanshu Singh

In [44]:
Name = "Dipanshu Singh"
print(Name.replace("F", "D"))
print(Name)

Dipanshu Singh
Dipanshu Singh

In [45]:
Name = "Dipanshu Singh"
print('n' in name)

True

In [50]:
num = (2+5/6)
print(result)

20

In [51]:
print(2<3),(2>3)

True

(None, False)

In [18]:
age = 20
if age >= 18:
    print("you are an adult")
    print("you can vot")
elif age < 18 and age > 3 :
    print("you are in school")
else: 
    print("you are a kid")
    print ("thank you")

you are an adult
you can vot

In [16]:
first = input("Enter the first number: ")
operator = input("Enter your operator (+, -, *, /, %): ")
second = input("Enter the second number: ")

first = float(first)  
second = float(second) 

if operator == "+":
    print(first + second)
elif operator == "-":
    print(first - second)
elif operator == "*":
    print(first * second)
elif operator == "/":
     print(first / second)
elif operator == "%":
    print(first % second)
else:
    print("Invalid operation")

Enter the first number: 25
Enter your operator (+, -, *, /, %): +
Enter the second number: 25
50.0

In [20]:
print(1*100)
in table

SyntaxError: invalid syntax (818427893.py, line 2)

In [ ]:
i= ("/n") (i+1) (" ")

In [37]:
i = 1 
while i >= 5:
    print(i)
    i = i + 1

In [39]:
i = 1 
while i <= 5:
    print(i)
    i = i + 1

1
2
3
4
5

In [43]:
i = 1 
while i <= 5:
    print(i * "*")
    i = i + 1

*
**
***
****
*****

In [45]:
i = 5 
while i >= 0:
    print(i * "*")
    i = i - 1

*****
****
***
**
*

In [52]:
for item in range(5):
    print(item + 1)

1
2
3
4
5

In [59]:
marks = [95, 96, 91]
print(marks[1])

96

In [61]:
marks = [95, 96, 91]
print(marks[1:3])

[96, 91]

In [73]:
marks = [95, 96, 91]
marks.append(90)
print(marks[1:3])
print(marks)
print(90 in marks)

[96, 91]
[95, 96, 91, 90]
True

In [78]:
marks = [95, 96, 91]
i = 0 
while i < len(marks):
    print(marks[i])
    i = i + 1
marks.clear()
print (marks)

95
96
91
[]

In [86]:
def foo(x):
    try:
        return 10 / x
    except ZeroDivisionError:
        return "Error"
    finally:
        return 0

result = foo(0)
print(result)

0

In [89]:
students = ["ram", "syam", "aman", "mhohan", "amit"]

for student in students:
    if student == "mhohan":
        break;
    print (student)

ram
syam
aman

In [90]:
students = ["ram", "syam", "aman", "mhohan", "amit"]

for student in students:
    if student == "mhohan":
        continue;
    print (student)

ram
syam
aman
amit

In [1]:
import secrets
import string

def generate_random_password(length):
    characters = string.ascii_letters + string.digits + string.punctuation
    password = ''.join(secrets.choice(characters) for _ in range(length))
    return password

# Specify the desired length of the password (e.g., 12 characters)
password_length = 12
random_password = generate_random_password(password_length)
print(random_password)

'riXJx$"UUC#